.grid {
  position: absolute;
  left: 30%;
  top: 20%;
  height: 300px;
  width: 561px;
  border: solid black 1px;
}
.block {
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 20px;
 }

.user {
  position: absolute;
  background-color: purple;
  width: 100px;
  height: 20px;
 }
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}



